.layout {
  /* -- Local Tokens -- */
  --local-gap: v('layout.gap');

  display: flex;
  flex-direction: column;
  min-block-size: 100dvh;
  gap: var(--local-gap) 0;

  & > [data-body] {
    flex: 1;
  }

  &:has(> [data-body] > [data-fill]) > [data-body] {
    display: flex;
    min-block-size: 0;
  }
}
