.toaster {
  --local-z-index: v('toaster.z-index');
  --local-gap: v('toaster.gap');
  --local-top: v('toaster.position.top');
  --local-right: v('toaster.position.right');
  --local-bottom: v('toaster.position.bottom');
  --local-left: v('toaster.position.left');

  position: fixed;
  z-index: var(--local-z-index);

  /* Default */
  inset-block-start: var(--local-top);
  inset-inline-end: var(--local-right);

  & > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--local-gap);
  }
}

.toaster[data-top-right] {
  inset-block-start: var(--local-top);
  inset-block-end: auto;
  inset-inline-start: auto;
  inset-inline-end: var(--local-right);
  & > div { align-items: flex-end; }
}

.toaster[data-top-left] {
  inset-block-start: var(--local-top);
  inset-block-end: auto;
  inset-inline-start: var(--local-left);
  inset-inline-end: auto;
  & > div { align-items: flex-start; }

  --toast-direction: row-reverse;
  --toast-align: end;
  --toast-close-margin-start: calc(v('toast.padding') * -0.25);
  --toast-close-margin-end: 0;
}

.toaster[data-bottom-right] {
  inset-block-start: auto;
  inset-block-end: var(--local-bottom);
  inset-inline-start: auto;
  inset-inline-end: var(--local-right);
  & > div { align-items: flex-end; flex-direction: column-reverse; }
}

.toaster[data-bottom-left] {
  inset-block-start: auto;
  inset-block-end: var(--local-bottom);
  inset-inline-start: var(--local-left);
  inset-inline-end: auto;
  & > div { align-items: flex-start; flex-direction: column-reverse; }

  --toast-direction: row-reverse;
  --toast-align: end;
  --toast-close-margin-start: calc(v('toast.padding') * -0.25);
  --toast-close-margin-end: 0;
}

/* TransitionGroup animations */
:global(.toast-fade-enter-active),
:global(.toast-fade-leave-active) {
  transition: all 0.5s ease;
}

:global(.toast-fade-enter-from),
:global(.toast-fade-leave-to) {
  opacity: 0;
  transform: scale(0.9);
}
